.letter-box .form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .form-field:last-child, .form-field:first-child {
        grid-column: 1 / span 2;
    }

    .form-field:last-child > textarea {
        min-height: 8rem;
        font-size: 14px;
        padding: 0.25rem;
        font-weight: 400;
    }

    .form-field > select {
        background: white;
    }
}



.letter-details{
    * {
        margin: 0;
        padding: 0;
    }

    .letter-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);  
      margin-top: 1rem;

      p {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        font-size: 1rem;
        letter-spacing: 0.0125rem;
        padding-block: 0.75rem;
        border-bottom: 1px solid var(--clr-gray-200);


        span:first-child {
            color: var(--clr-gray-500);
            font-weight: 500;
            font-size: 12px;
        }

        span:last-child {
            font-weight: 600;
        }
      }
    }
    
}